.popup .menu-item_hovered{
    background-color: #00bfff;
}

.popup .select .button{
    border-radius: 0;
    margin: 0;
}

.popup .select .button_focused-hard{
    box-shadow: none;
}

.popup .select .button:before{
    background-color: lightblue;
}

.popup .select,
.popup .preview{
    width: 200px;
}

.popup .preview{
    height: 300px;
    border-top: 1px solid #d3d3d3;
}

.popup .button{
    border-radius: 5px;
    outline: none;
    background-color: #d3d3d3;
    font: 16px normal, "Comic Sans MS", sans-serif;
    margin: 5px;
}

.popup .button_cancel{
    float: right;
}
