.popup_add-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
}

.popup_add-block .select .button_focused-hard{
    background-color: lightblue;
    box-shadow: none;
}

.popup_add-block .select .button:before{
    background-color: lightblue;
}

.popup_add-block .select,
.popup_add-block .preview{
    width: 300px;
}

.popup_add-block .preview{
    border-top: 1px solid #d3d3d3;
}

.popup_add-block > .button{
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    outline: none;
    background-color: #d3d3d3;
    font-size: 16px;
    margin: 5px;
}

.popup_add-block .button__cancel{
    float: right;
}


.popup_add-block .button_theme_islands.button_checked{
    background-color: lightblue;
}
