.news-1 > *{
    margin: 0;
}

.news-1{
    padding: 10px;
    font-family: Calibri;
}

.news-1 .input__control{
    width: 100%;
    background: inherit;
    border: none;
    outline: none;
    color: #fff;
}

.news-1__heading .input__control:hover,
.news-1__heading .input__control:focus{
    background-color: #00aaff;
}

.news-1__body .input__control:hover,
.news-1__body .input__control:focus{
    background-color: grey;
}

.news-1__heading .input__control,
.news-1__heading{
    font-size: 24px;
}

.news-1 .input__control::-webkit-input-placeholder{
    color: #fff;
}

.news-1__heading{
    padding: 5px 10px 10px 10px;
    background: linear-gradient(to bottom, #00bfff, #a4a4a4);
    color: #fff;
}

.news-1__body > *{
    display: block;
    padding: 5px 10px;
    color: #fff;
    background-color: #a4a4a4;
}

.news-1__body > *,
.news-1__body .input__control{
    font-size: 18px;
}

.news-1__body span{
    word-wrap: break-word;
}

.news-1__body .link{
    border-top: 1px solid #fff;
}

.news-1__body .link:hover{
    color: #008dbd;
}
